<script type='text/javascript'>
	window.initialData = <%-JSON.stringify(initialData)-%>
</script>
<%- include('header')%>
<div id="app"><%- initialMarkup%></div>
<% include index.html%>
<%- include('footer')%>